<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
<h3 class="nav justify-content-center"><a href={%url 'about'%} class="nav-link active">About the page</a></h3>
<div class="container text-center">
<h1> Password Generator</h1>
    <form action="{%url 'password'%}">
        <select name="length">
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10" selected="selected">10</option>
            <option value="14">14</option>
            <option value="12">12</option>
            <option value="16">16</option>
        </select> Choose the length of password
        <br />
        <input type="checkbox" name="uppercase"/> Uppercase
        <br />
        <input type="checkbox" name="numeric"/> Numbers
        <br />
        <input type="checkbox" name="symbols"/> Special Charecters
        <br />
        <button type="submit" class="btn btn-primary">Generate Password</button>
        <br />
        
    </form>
</div>