<!DOCTYPE html>

<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Password_Genrator</title>
<h3 class="nav justify-content-center"><a href={%url 'about'%} class="nav-link active">About the page</a></h3>

<div class="container text-center">
    <h2>Your Password is:</h2>
    <h2 class="alert alert-success" >{{ password }}</h2>    
    <a href="{%url 'home'%}" class="btn btn-secondary">Home</a>    
</div>